*{
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif;
}

.hero, .footer{
  background-color:#1f2937;
  padding: 15px 150px;
}
.footer{
  color: #F9FAF8;
  text-align: center;
}

  p,a.link {
    font-size: 18px;
    color: #E5E7EB;
    font-weight:100;
   }
   
h1,.logo {
  font-size: 48px;
  color: #F9FAF8;
  font-weight:900;
}


.header {
  display: flex;
  justify-content: space-between;
}

.header.logo {
  font-size: 24px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  gap:25px;
  list-style-type: none;
}
.link {
  text-decoration: none;
  display: flex; align-items:center ;
}
button {
  color:#E5E7EB;
  background-color: #3882f6;
  font-weight: 900;
  padding: 5px 25px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  text-wrap: nowrap;
}

div.secondary {
  display: flex;
  padding: 50px 0;
}

img.rocket {
  display: flex;
  align-items: flex-start ;
  width: 700px;
  height:300px;
  border: 0;border-radius: 0;
  padding-left: 50px;
}
h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}
.tertiary {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.text {
  display: flex;
  text-wrap: wrap;
  text-align: center;
  width: 150px;
  font-size: 18px;
}

img {
  width: 150px;
  height: 150px;
  display: flex;
  border:5px solid #3882f6;
  border-radius: 10px;
}

.inspiration {
  background-color: #e5e7eb;
  margin: 100px 0;
  padding: 100px 160px;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.Thor {
  font-weight: 900;
  font-style: normal;
  text-align: end;
}

.ad {
  background-color: #3882f6;
  color: #E5E7EB;
  padding: 30px 160px;
  margin: 150px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  
}

.ad button {
  border: 3px solid #F9FAF8;
  display: flex;
  flex: none;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}